footer.footer
    .footer__icon
        i.fab.fa-youtube
        span.footer__text &copy; #{siteName} #{new Date().getFullYear()} copyright
        // javascript 삽입하려면, #{contents} 하면 된다 


    //- div.<i class="fab fa-youtube"></i>