.social-login 
    button.social-login_github
        span
            //- <i class="fab fa-github"></i>
            i.fab.fa-github
            //-   여기서 '|'를 쓰는 이유: continue가 자동으로 태그로취급되서 텍스트로 취급되려면. 
        |   Continue with Github
    button.social-login_facebook
        span
            //- <i class="fab fa-github"></i>
            i.fab.fa-facebook
            //-   여기서 '|'를 쓰는 이유: continue가 자동으로 태그로취급되서 텍스트로 취급되려면. 
        |   Continue with Facebook
